<%- doctype_tag(HTML5) %>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%- title %></title>
    <%- css_tag('/vendor/Materialize/dist/css/materialize.css') %>
    <%- css_tag('https://fonts.googleapis.com/icon?family=Material+Icons') %>

    <%- css_tag('/stylesheets/style.css') %>
</head>
<body>
