<%- doctype_tag(HTML5) %>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title><%- title %></title>
    <%- css_tag('/vendor/Materialize/dist/css/materialize.css') %>
    <%- css_tag('https://fonts.googleapis.com/icon?family=Material+Icons') %>

    <%- css_tag('/stylesheets/style.css') %>

    <% if(path === 'login') { %>
        <%- css_tag('/stylesheets/inicioSesion.css') %>
    <% } %>
</head>
<body>
