<% include header %>

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1>Iniciar sesión</h1>
            <% if (mesageLogin.length != 0) { %>
                    <div class="card-panel red lighten-2">
                        <%= mesageLogin %>
                    </div>
            <% } %>
            <%- form_tag('/login') %>
                <div class="input-field col s12">
                    <%- email_field_tag('email', {class: 'validate', 'required': 'true'}) %>
                    <%- label_for('email', {'data-error': 'Formato de correo erróneo', 'data-success': 'Válido'}) %>
                    <!-- TODO: revisar que el email no existe en la base de datos -->
                </div>

                <div class="input-field col s12">
                    <%- password_field_tag('password', {class: 'validate', 'required': 'true', minlength: '10'}) %>
                    <%- label_for('password', {'data-error': 'Contraseña mínimo de 10 carácteres', 'data-success': 'Válido'}) %>
                </div>

                <div class="input-field col s12">
                    <%- submit_tag('Iniciar Sesión', {class: 'btn'}) %>
            <%- form_end_tag() %>
                </div>
        </div>
    </div>
</div>

<!--

TODO: Mover a un navbar todo esto
<h1>Tus datos: </h1>
<%  if(user == null){
        user = {}
        user._id = "???";
        user.local = {
            email: "????",
            password: "???"
        };
    } %>

<h1>Cerrrar sesión</h1>
<%- link_to('Cerrar sesión', '/logout', {Class: 'btn'}) %>

<br>

<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>: <%= user.local.password %>

<br>
<span>Mensaje del servidor al iniciar sesión: <%= mesageLogin %></span>

-->

<% include footer %>
